.app-bar{
    background-color: #fff !important;
    color: rgb(94, 105, 202) !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* position: fixed !important;  */
    /* box-shadow: 2px 2px 2px 0px  #333649 !important; */
}

.menu-appbar{
    color: rgb(94, 105, 202) !important;
}

.not-active-item , .active-item{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.not-active-item{
    color: rgb(94, 105, 202);
}

.active-item{
    color: rgb(245, 144, 122);
}

.title-appBar{
    font-family: Josefin Sans !important;
}