.app1 {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parent1 {
    width:170px;
    margin: auto;
    padding: 0.5rem;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 7px 20px 20px rgb(210, 227, 244);
  }
  .file-upload1 {
    text-align: center;
    border: 2px dashed rgb(210, 227, 244);
    border-radius: 20px;
    padding: 0.5rem;
    position: relative;
  }
  .file-upload1 p {
    font-size: 14px;
    margin-top: 5px;
    color: rgb(245, 144, 122);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .file-upload1 input {
    display: block;
    /* border-radius: 50%; */
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;}

.image-upload-file1{
    width: 100%;
    height: 100px;
    border-radius:20px;

}

.container-outer-create-course{
    width: 100%;
    margin-top: 1rem;
    border: 3px dashed rgb(210, 227, 244);
    border-radius: 20px;
}

.label-create-course{
    display: block;
    width: 100%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(245, 144, 122);
}

.input-create-course{
    width: 100%;
    padding: 0.3rem;
    outline: none;
    border: 2px solid rgb(210, 227, 244);
    border-radius: 10px;
    color: rgb(94, 105, 202);
}

.input-create-course:focus{
    border: 1px solid rgb(245, 144, 122) ;

}

.button-create-course{
  background-color: #ffffff;
  color:rgb(94, 105, 202);
  border: 2px solid rgb(245, 144, 122);
  border-radius: 10px;
  padding:0.5rem 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: 0.5s;
}

.button-create-course:hover{
  color: rgb(245, 144, 122);
  transition: 0.5s;
}